body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #fdfdfd;
}
.diamond-img-container {
    transform: rotate(45deg);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.diamond-img {
    transform: rotate(-45deg) scale(1.4);
}
.torn-top {
    position: relative;
}
.torn-top::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #132c45;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 30" preserveAspectRatio="none"><path d="M0,30 V0 c100,20 200,-20 300,0 c100,20 200,-20 300,0 c100,20 200,-20 300,0 c100,20 200,-20 300,0 V30 H0 z" fill="black"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 30" preserveAspectRatio="none"><path d="M0,30 V0 c100,20 200,-20 300,0 c100,20 200,-20 300,0 c100,20 200,-20 300,0 V30 H0 z" fill="black"/></svg>');
}